# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore virtual environment
venv/
.env/

# Ignore compiled Python files
*.pyc
__pycache__/
**/__pycache__/  # Ignore all __pycache__ folders in subdirectories
**/*.pyc         # Ignore all .pyc files in subdirectories

# Ignore logs and temporary files
*.log
*.tmp
.DS_Store

# Ignore models
api/utils/models/*
